.remove {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove button {
  background-color: #e02b20;
  color: snow;
  text-transform: uppercase;
  padding: 0.5rem 2.5rem;
  font-weight: 700;
  font-family: "Catamaran", display;
  position: relative;
  right: 3rem;
  border-radius: 1rem;
  cursor: pointer;
}

.remove button:hover{
  background-color: #1d3d97;
}